@model IEnumerable<LibraryApplication.ViewModel.HomepageBoxViewModel>

@{ 
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
<div class="row">
    <div class="pull-left" style="padding-top: 20px;">
        <button type="submit" value="Search" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-search"></span> &nbsp; Search
        </button>
    </div>
    <div class="pull-left" style="padding-top: 20px;">
        @Html.Editor("search", new { htmlattributes = new { @class = "form-control input-sm" } })
    </div>
</div>

<br/>

}

<div class="row">
    @foreach(var area in Model)
    {
        @Html.Partial("_HomepageAreaPartial", area);
    }
</div>