@*int requird to pass an ID for confirmation of user*@
@model int


<a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { ID = Model})">
    <span class="glyphicon glyphicon-edit"></span>
    <span>Edit</span>
</a>
