.homepage {
    transition: all 1s ease-in-out 0s;
}

.homepage .homepage-img {
    /*specifies a transition effect with a slow start and end*/
    transition: ease-in-out all 1s;
    height: auto;
    width: 100%;
}

/*The overflow is clipped, and the rest of the content will be invisible*/
.homepage .homepage-img-container {
    overflow: hidden;
}

.homepage a, a:focus, a:hover, a:active {
    /*removes underline from book title*/
    text-decoration: none;
    outline: 0px none !important;
}

.homepage :hover img {
    /*changes scale of image and rotates it to -3 degrees*/
    transform: scale(0.9) rotate(-3deg);
}


.homepage:hover {
    transition: box-shadow 0.3s ease-in-out 0s;
    /*adds purple shadow styling around box*/
    box-shadow: 8px 8px 8px #D9B9C8;
}



